solve-it-easy/
models/
.env
!data/examples/
data/phone_call_record
voiceai.stt/
toy_docker/


# Ignore all Python compiled files
*_.pyc
*__pycache__/


exps/

# .gitignore

draft/
notebooks/draft.ipynb

wandb/

# configs/

zip_for_upload/

# src/utils/audio_utils__.py
src/utils/consts.py

.gitignore

*copy*
voiceai.stt
enhance_audio
postprocessing

results

md

prepare_data1.py

tests