certifi==2025.8.3
markdown-it-py==4.0.0
nvidia-cusolver-cu12==11.7.3.90
six==1.17.0
typing_extensions==4.14.1
tqdm==4.67.1
tzdata==2025.2
psutil==5.9.0
zipp==3.23.0
click==8.2.1
numpy==2.2.6
python-Levenshtein==0.27.1
kenlm==0.2.0
wandb==0.19.1
underthesea==6.8.4
exceptiongroup==1.3.0
protobuf==5.29.5
pycparser==2.22
shellingham==1.5.4
httpx==0.28.1
pyzstd==0.17.0
fastapi==0.116.1
rouge_score==0.1.2
safetensors==0.6.2
pycryptodomex==3.23.0
hpack==4.1.0
Pygments==2.19.2
gradio_client==1.11.1
Brotli==1.1.0
tabulate==0.9.0
tomlkit==0.13.3
sigtools==4.0.1
xxhash==3.5.0
parso==0.8.4
sklearn-crfsuite==0.5.0
packaging==25.0
yarl==1.20.1
ptyprocess==0.7.0
nvidia-cusparse-cu12==12.5.8.93
setproctitle==1.3.6
nvidia-cufile-cu12==1.13.1.3
networkx==3.5
annotated-types==0.7.0
urllib3==2.5.0
httpcore==1.0.9
bitsandbytes==0.47.0
nvidia-cuda-nvrtc-cu12==12.8.93
charset-normalizer==3.4.3
attrs==25.3.0
evaluate==0.4.3
datasets==3.2.0
mpmath==1.3.0
fsspec==2024.9.0
kiwisolver==1.4.9
pydantic_core==2.33.2
setuptools==78.1.1
frozenlist==1.7.0
triton==3.4.0
gradio==5.42.0
msgpack==1.1.1
wcwidth==0.2.13
llvmlite==0.44.0
ffmpy==0.6.1
PyYAML==6.0.2
regex==2025.7.34
pyvi==0.1.1
dill==0.3.8
cffi==1.17.1
MarkupSafe==3.0.2
importlib_metadata==8.7.0
nvidia-cufft-cu12==11.3.3.83
starlette==0.47.2
huggingface-hub==0.34.4
nvidia-nvjitlink-cu12==12.8.93
accelerate==1.10.0
fonttools==4.59.0
typing-inspection==0.4.1
pooch==1.8.2
executing==2.2.0
comm==0.2.3
websockets==15.0.1
matplotlib-inline==0.1.7
ipykernel==6.30.1
types-certifi==2021.10.8.3
jupyter_client==8.6.3
ruff==0.12.8
tokenizers==0.21.4
colorama==0.4.6
ipython_pygments_lexers==1.1.1
numba==0.61.2
sentry-sdk==2.34.1
nvidia-cuda-runtime-cu12==12.8.90
h11==0.16.0
propcache==0.3.2
omegaconf==2.3.0
pandas==2.3.1
semantic-version==2.10.0
watchfiles==1.1.0
RapidFuzz==3.13.0
modal==1.1.3
nvidia-cusparselt-cu12==0.7.1
typer==0.16.0
debugpy==1.8.11
librosa==0.11.0
nvidia-cuda-cupti-cu12==12.8.90
python-dotenv==1.0.1
pyppmd==1.1.1
requests==2.32.4
asttokens==3.0.0
transformers==4.56.0.dev0
pyzmq==26.2.0
nltk==3.9.1
synchronicity==0.10.2
scikit-learn==1.7.1
lazy_loader==0.4
groovy==0.1.2
aiohappyeyeballs==2.6.1
smmap==5.0.2
pydantic==2.11.7
pillow==11.3.0
traitlets==5.14.3
soundfile==0.13.1
nvidia-cudnn-cu12==9.10.2.21
aiofiles==24.1.0
python-dateutil==2.9.0.post0
audioread==3.0.1
GitPython==3.1.45
nvidia-nccl-cu12==2.27.3
antlr4-python3-runtime==4.9.3
types-toml==0.10.8.20240310
multiprocess==0.70.16
aiosignal==1.4.0
absl-py==2.3.1
python-crfsuite==0.9.11
sympy==1.14.0
filelock==3.18.0
hyperframe==6.1.0
ipython==9.4.0
pyparsing==3.2.3
wheel==0.45.1
pexpect==4.9.0
sniffio==1.3.1
grpclib==0.4.8
tornado==6.5.1
prompt_toolkit==3.0.51
safehttpx==0.1.6
decorator==5.2.1
multidict==6.6.4
anyio==4.10.0
Levenshtein==0.27.1
torch==2.8.0
orjson==3.11.2
platformdirs==4.3.8
underthesea_core==1.0.4
multivolumefile==0.2.3
scipy==1.16.1
jedi==0.19.2
mdurl==0.1.2
symspellpy==6.9.0
post_processing==0.1.0
stack_data==0.6.3
aiohttp==3.12.15
jupyter_core==5.8.1
pure_eval==0.2.3
contourpy==1.3.3
nvidia-nvtx-cu12==12.8.90
pytz==2025.2
hydra-core==1.3.2
idna==3.10
nvidia-curand-cu12==10.3.9.90
trl==0.14.0
pyarrow==21.0.0
matplotlib==3.10.5
pickleshare==0.7.5
Jinja2==3.1.6
rich==14.1.0
uvicorn==0.35.0
h2==4.2.0
joblib==1.5.1
inflate64==1.0.3
pip==25.1
gitdb==4.0.12
pydub==0.25.1
peft==0.14.0
cycler==0.12.1
toml==0.10.2
nest_asyncio==1.6.0
soxr==0.5.0.post1
hf-xet==1.1.7
texttable==1.7.0
pybcj==1.0.6
python-multipart==0.0.20
docker-pycreds==0.4.0
nvidia-cublas-cu12==12.8.4.1
py7zr==0.22.0
editdistpy==0.1.6
threadpoolctl==3.6.0
